@using MvcKutuphane.Models.Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>

<div style="margin-bottom:15px; margin-top:15px;">
    <input type="type" class="form-control" placeholder="arancak kitap adı..." />
</div>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Kitap Adı</td>
        <td>Kitap Yazarı</td>
        <td>Kategorisi</td>
        <td>Basım Yılı</td>
        <td>Yayınevi</td>
        <td>Sayfa</td>
        <td>Durum</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.AD</td>
            <td>@k.TBLYAZAR.AD @k.TBLYAZAR.SOYAD</td>
            <td>@k.TBLKATEGORI.AD</td>
            <td>@k.BASIMYIL</td>
            <td>@k.YAYINEVİ</td>
            <td>@k.SAYFA</td>
            <td>@k.DURUM</td>
            <td>
                @Html.ActionLink("Sil", "KitapSil", new { id = k.ID },
                    new
                        {
                            @class = "btn btn-danger",
                            onclick =
                    "return confirm('Silmek İsriyor musunuz?')"
                        })
            </td>
            <td><a href="/Kitap/KitapGetir/@k.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>
