@model MvcKutuphane.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}



@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
//FORMUN.İÇERİSİNDE("hangi method çalışacak","method hangi controller içinde","ne zaman çalışcak-formmethod post olunca")

{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Kitap Ad</label>
            @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Kitap Kategori</label>
            @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1,new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Yazar </label>
            @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dgr2,
new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Basım Yıl </label>
            @Html.TextBoxFor(k => k.BASIMYIL, new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Yayın Evi </label>
            @Html.TextBoxFor(k => k.YAYINEVİ, new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Sayfa </label>
            @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
        </div>

        <div style="margin-bottom:15px">
            <label>Durum </label>
            @Html.DropDownListFor(
                k => k.DURUM,
                new SelectList(new[] { new { Value = "True", Text = "True" }, 
                new { Value = "False", Text = "False" } }, "Value", "Text"),
                new { @class = "form-control" }
            )
        </div>

        <button class="btn btn-warning">kİTAP Bilgilerini Güncelle</button>

    </div>

}

